@import url("./font-awesome.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  box-shadow: none;
}

.bg-earth {
  background: url("../assets/images/earth.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@layer components {
  body {
    @apply bg-gray-200;
  }
}
